Repository woocheonjae/HiRolling-Server, pull requests merged in 2022-12, with the labels that each got.

#1 🎉 feat: server initialization
  .editorconfig
  .eslintrc.js
  .gitignore
  .husky/pre-push
  package.json
  src/api/index.js
  src/app.js
  src/config/config.js
  src/loaders/express.js
  src/loaders/index.js
  src/loaders/logger.js
  src/loaders/sequelize.js
  yarn.lock
Labels: ⚙ Setting, ✨ Feature, 🔰BE

#9 🗃️feat(db): design schema
  .gitignore
  src/app.js
  src/config/config.js
  src/loaders/index.js
  src/loaders/sequelize.js
  src/models/group.js
  src/models/groupMember.js
  src/models/groupPost.js
  src/models/groupPostAttachedImage.js
  src/models/groupRollingPaper.js
  src/models/personalPost.js
  src/models/personalPostAttachedImage.js
  src/models/personalRollingPaper.js
  src/models/user.js
Labels: ✨ Feature, 📚 DB, 🔰BE

#10 ✨feat(api): add api routing initialization
  package.json
  src/api/index.js
  src/api/middlewares/asyncHandler.js
  src/api/middlewares/index.js
  src/api/routes/v1/auth.js
  src/api/routes/v1/index.js
  src/app.js
  src/loaders/express.js
  src/views/error.html
  yarn.lock
Labels: ✨ Feature, 📬 API, 🔰BE

#11 ✨ feat: individual initialization
  src/api/routes/v1/index.js
  src/api/routes/v1/individual.js
Labels: ✨ Feature, 📬 API, 🔰BE
