Repository woocheonjae/HiRolling-Server, pull requests merged in 2023-01, with the labels that each got.

#13 ♻️ refactor: migrate from js to ts
  .eslintrc.js
  jest.config.json
  package.json
  src/api/index.ts
  src/api/middlewares/asyncHandler.ts
  src/api/middlewares/index.js
  src/api/middlewares/index.ts
  src/api/routes/v1/auth.js
  src/api/routes/v1/auth.ts
  src/api/routes/v1/index.ts
  src/api/routes/v1/individual.ts
  src/app.ts
  src/config/config.ts
  src/loaders/express.ts
  src/loaders/index.js
  src/loaders/index.ts
  src/loaders/logger.ts
  src/loaders/sequelize.js
  src/loaders/sequelize.ts
  src/models/group.js
  src/models/group.ts
  src/models/groupMember.js
  src/models/groupMember.ts
  src/models/groupPost.js
  src/models/groupPost.ts
  src/models/groupPostAttachedImage.js
  src/models/groupPostAttachedImage.ts
  src/models/groupRollingPaper.js
  src/models/groupRollingPaper.ts
  src/models/personalPost.js
  src/models/personalPost.ts
  src/models/personalPostAttachedImage.js
  src/models/personalPostAttachedImage.ts
  src/models/personalRollingPaper.js
  src/models/personalRollingPaper.ts
  src/models/user.js
  src/models/user.ts
  src/services/auth.ts
  tsconfig.json
  types/express/index.d.ts
  yarn.lock
Labels: ♻ Refactor, 🐞 BugFix, 📚 DB, 📬 API, 🔰BE, 🙋‍♂️ Question

#15 🚑️ fix(db): resolving db connection error
  src/app.ts
  src/config/config.ts
  src/loaders/index.ts
Labels: 🐞 BugFix, 📚 DB, 🔰BE

#16 🌱chore: update models associate
  package.json
  src/config/config.ts
  src/models/personalRollingPaper.ts
  src/models/user.ts
  yarn.lock
Labels: 🐞 BugFix, 📚 DB, 🔰BE

#17 ✨feat: add di pattern for social login
  package.json
  src/api/middlewares/asyncHandler.ts
  src/api/routes/v1/auth.ts
  src/interfaces/User.ts
  src/loaders/dependencyInjector.ts
  src/loaders/express.ts
  src/loaders/index.ts
  src/services/auth.ts
  tsconfig.json
  yarn.lock
Labels: ✨ Feature, 📬 API, 🔰BE

#18 ✨ feat(add): add api routing
  src/api/routes/v1/auth.ts
  src/api/routes/v1/individual.ts
  src/interfaces/PersonalPost.ts
  src/loaders/express.ts
  src/loaders/index.ts
  src/models/personalPost.ts
  src/models/personalRollingPaper.ts
  src/models/user.ts
  src/services/auth.ts
  src/services/individual.ts
Labels: ✨ Feature, 📚 DB, 📬 API, 🔰BE

#22 ✨ feat(api): add api for create personal post
  src/api/routes/v1/individual.ts
  src/interfaces/PersonalPost.ts
  src/models/personalPost.ts
  src/models/personalPostAttachedImage.ts
  src/services/individual.ts
Labels: ✨ Feature, 📚 DB, 📬 API, 🔰BE

#23 ✅test(api): add sample code for api test
  .eslintrc.js
  .husky/pre-push
  jest.config.json
  jest.config.ts
  package.json
  src/api/routes/v1/auth.ts
  tests/api/routes/v1/auth.test.ts
  tsconfig.json
  yarn.lock
Labels: ✅ Test, 🔰BE

#24 🗃️fix(db): modify db properties
  .gitignore
  .sequelizerc
  package.json
  src/api/middlewares/asyncHandler.ts
  src/api/routes/v1/auth.ts
  src/api/routes/v1/individual.ts
  src/config/config.ts
  src/loaders/dependencyInjector.ts
  src/loaders/express.ts
  src/loaders/index.ts
  src/loaders/logger.ts
  src/loaders/sequelize.ts
  src/migrations/migratePersonalPost.ts
  src/models/group.ts
  src/models/groupPost.ts
  src/models/personalRollingPaper.ts
  src/models/user.ts
  src/services/auth.ts
  src/services/individual.ts
  yarn.lock
Labels: 🐞 BugFix, 📚 DB, 🔰BE

#25 ✨ feat(api): add api for create and view PRP
  src/api/routes/v1/individual.ts
  src/interfaces/PersonalRollingPaper.ts
  src/loaders/express.ts
  src/loaders/index.ts
  src/models/personalRollingPaper.ts
  src/services/individual.ts
Labels: ✨ Feature, 📬 API, 🔰BE

#28 ✨ feat(api): add api for delete PRP
  src/api/routes/v1/individual.ts
  src/services/individual.ts
Labels: ✨ Feature, 📬 API, 🔰BE

#29 ✨ feat(api): add api for view list PRP
  src/api/routes/v1/individual.ts
  src/services/individual.ts
Labels: ✨ Feature, 📬 API, 🔰BE

#30 ✨ feat(api): add api for update, delete PP
  src/api/routes/v1/individual.ts
  src/services/individual.ts
Labels: ✨ Feature, 📚 DB, 📬 API, 🔰BE

#31 ✨ feat(api): add api for update PRP
  src/api/routes/v1/individual.ts
  src/services/individual.ts
Labels: ✨ Feature, 📬 API, 🔰BE

#32 ✨ feat(api): add api for group post(create, update, delete, getDetailPost)
  src/api/routes/v1/group.ts
  src/api/routes/v1/index.ts
  src/api/routes/v1/individual.ts
  src/interfaces/GroupPost.ts
  src/loaders/index.ts
  src/services/group.ts
  src/services/individual.ts
Labels: ✨ Feature, 📚 DB, 📬 API, 🔰BE
